body{
  display: flex;
  justify-content: center;
}

.content{
  display:flex;
}

.header {
  color: yellow;
}

.card {
  color: grey;
  border: 1px solid yellow;
  border-radius: 13px;
  margin: 10px;
}

.footer {
  color: green;
}